$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: 'Open Sans';
$font_main: Roboto;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #34BF8C;
$action_2: #0D51D9;
$action_3: #DFF2E4;
$color_main: #1A261F;
$color_heading: #8ead96;
$color_white: #FFFFFF;
$color_gray: #DFDFF1;
$bg_dark: #50BF97;
$bg_light: #FFFFFF;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
